<form action="/auth/login" method="POST">



   <div class="loginForm">
      <h1>Design, track and hit your life-goals with Ocra </h1>
      <br>
      <p>Let's get you logged in first. </p>

      <br>
      <label>Email
         <input type="email" name="email" placeholder="manwiththeplan@email.com">
      </label>
      <br>
      <label>Password
         <input type="password" name="password" placeholder="**********">
      </label>
      <br>
      <a class="btn btn-outline-primary"> <button type="submit" class="signUpButton">Log In</button>
      </a>
      <br>


   </div>
</form>