<form action="/auth/login" method="POST">

   <div class="loginForm">
      <h1>Design, track and hit your life-goals with Ocra </h1>
      <br>
      <h2>Let's get you logged in first. </h2>

      <label>
         <input type="email" name="email" placeholder="manwiththeplan@email.com" required>
      </label>

      <label>
         <input type="password" name="password" placeholder="**********" required>
      </label>
      <br>
      <button type=“submit” class="btn btn-outline-primary">Log In</button>

<<<<<<< HEAD
      <button type="submit" class="btn btn-outline-primary">Log In</button>

=======
>>>>>>> c346d940df5e899bc7f0cad58be047665784a946
      <br>

      <label for="">New to Ocra? <a href="/auth/signup">Sign-up</a> now.
      </label>

   </div>
</form>