<form action="/auth/login" method="POST">

   <div class="loginForm">
      <h1>Design, track and hit your life-goals with Ocra </h1>
      <br>
      <h2>Let's get you logged in first. </h2>

      <label>
         <input type="email" name="email" placeholder="manwiththeplan@email.com">
      </label>

      <label>
         <input type="password" name="password" placeholder="**********">
      </label>
      <br>

      <section class="btn btn-outline-primary">

         <a href="/auth/login"></a>
         <button type="submit" class="signUpButton">Log In</button>

      </section>
      <br>
      <label for="">New to Ocra? <a href="">Sign-up</a> now.
      </label>

   </div>
</form>