<a href="/profile">Go to my profile</a>
<form action="/actions/new-action" method="POST">
  <input type="text" name="action" placeholder="Describe your action">
  <input type="date" name="actionEndDate">

  <button type="submit">Submit</button>

</form>