{{!-- <h6>Welcome to your edit page</h6> --}}



<section class="backgroundForm">
  <section class="form">
    {{#with user}}

    <form method="POST" action="/profile/edit" enctype="multipart/form-data" class="objForm">
      <label for="" class="objFormText">Name</label>
      <input name="name" value="{{name}}">
      <label for="" class="objFormText">Surname</label>
      <input name="surname" value="{{surname}}">
      <br>
      <label class="objFormText">Location</label>
      <input name="locations" value="{{locations}}">
      <br>
      <label for="" class="objFormText">Email</label>
      <input type="email" name="email" value={{email}}>
      <br>
      <label for="" class="objFormText">Picture</label>
      <input type="file" name="profilePic">
      <section class="button">
        <a href="/profile" class="back"> BACK</a>
        <button type=" submit" class="btn btn-primary">SAVE</button>
      </section>
    </form>

    {{/with}}

  </section>
</section>