<h6>Welcome to your edit page</h6>

{{#with user}}

<form method="POST" action="/profile/edit" enctype="multipart/form-data">
  <label for="">Name</label>
  <input name="name" value="{{name}}">
  <label for="">Surname</label>
  <input name="surname" value="{{surname}}">
  <br>
  <label>Location</label>
  <input name="locations" value="{{locations}}">
  <br>
  <label for="">Email</label>
  <input type="email" name="email" value={{email}}>
  <br>
  <label for="">Picture</label>
  <input type="file" name="profilePic">

  <button type=" submit">Edit your profile</button>
</form>

{{/with}}