<h1>This page is for editing action</h1>

<a href="/profile">Go to my profile</a>
<br />
<br />

{{#with action}}

<form action="" method="POST">

  <input name="action" value="{{action}}">

</form>
{{/with}}