<!DOCTYPE html>
<html lang="en">

<body>

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
         integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <link rel="stylesheet" href="/stylesheets/style.css" />

      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link
         href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
         rel="stylesheet">

      <style>
         @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
      </style>
   </head>


   </nav>
   {{#if user}}

   <br>

   <br>
   <nav>
      <div class="navbar"></div>

      <div class="okra">Ocra</div>

      <a href="/auth/logout">Logout</a>
   </nav>
   {{else}}
   <nav>

      <div class="okra">Ocra</div>
      <div class="signUpLoginButtons">

         <a href="/auth/login" class="btn btn-link">Login</a>


         <a href="/auth/signup" class="btn btn-primary">Signup</a>
      </div>


   </nav>
   {{/if}}
   {{{body}}}



   <script src="/js/script.js"></script>
</body>



</html>