<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{title}}</title>
   <link rel="stylesheet" href="/stylesheets/style.css" />
   <style>
      @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
   </style>
</head>

<body>
   </nav>
   {{#if user}}

   <br>

   <br>
   <nav>
      <div class="navbar"></div>

      <div class="okra">Ocra</div>

      <a href="/auth/logout">Logout</a>
   </nav>
   {{else}}
   <nav>
      <div class="okra">Ocra</div>
      <div class="signuplogin">
         <a href="/auth/signup">Signup</a>
         <a href="/auth/login">Login</a>

      </div>
   </nav>
   {{/if}}
   {{{body}}}



   <script src="/js/script.js"></script>
</body>



</html>