<form action="/objectives/new-objective" method="POST">
  <input type="text" name="problem" placeholder="Describe the problem you want to solve">
  <select name="category" id="">
    <option name="Financial">Financial</option>
    <option name="Career">Career</option>
    <option name="Relationship">Relationship</option>
    <option name="Wellbeing">Wellbeing</option>

  </select>

  <input type="text" name="objectiveInput" placeholder="Describe the change you want to see">
  <input type="text" name="keyResult" placeholder="Provide one key results ">
  <input type="date" name="objectiveEndDate">


  <button type="submit">Submit</button>

</form>