.mainBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user {
  display: flex;
  width: 800px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 30px;
  border-bottom: solid 1px rgb(158, 159, 160);
}

#usertextButton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.userbutton {
  display: flex;
  width: 250px;
  justify-content: space-between;
}

.goalButton {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: rgb(0, 110, 255);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  box-shadow: 0 0 5px rgb(121, 119, 119);
  position: fixed;
  bottom: 200px;
  right: 200px;
}
.goalButton:hover {
  text-decoration: none;
}

.addobjectiveBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 800px;
}

.userEdit {
  border-radius: 5px;
  padding: 2px;
  background-color: rgb(0, 110, 255);
  color: white;
  width: 80px;
  font-size: 15px;
  text-align: center;
}

.nameAndPic {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#name {
  color: grey;
  font-size: 26px;
}
.picture {
  width: 140px;
  height: 140px;
  margin-right: 20px;
  background-size: 100%;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(121, 119, 119);
}

.goal {
  background-color: white;
  padding: 50px;
  margin: 15px;
  width: 800px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(121, 119, 119);
}

#cat {
  border-radius: 5px;
  padding: 2px;
  background-color: rgb(196, 17, 196);
  color: white;
  width: 120px;
  font-size: 17px;
  text-align: center;
}

#prob {
  color: grey;
  font-size: 15px;
}

#obj {
  color: black;
  font-size: 24px;
}

.dueDateProgress {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-bottom: solid 1px rgb(0, 110, 255);
}

#date {
  color: grey;
  font-size: 15px;
  margin-right: 20px;
}

#progress {
  border-radius: 5px;
  padding: 2px;
  background-color: rgb(17, 196, 113);
  color: white;
  width: 150px;
  font-size: 15px;
  text-align: center;
}

#actionTitle {
  margin-top: 40px;
  color: grey;
  font-size: 17px;
}

.actionList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px rgb(197, 196, 196);
  margin-top: 5px;
  margin-bottom: 10px;
}

.actionButton {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  width: 30%;
  font-size: 15px;
}

.bottunObj {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#actiondescription {
  color: grey;
  font-size: 15px;
  margin-right: 20px;
}

#addActionButton {
  border-radius: 5px;
  padding: 3px 20px;
  border: solid rgb(0, 110, 255);
  color: rgb(0, 110, 255);
  width: 100px;
  font-size: 15px;
  text-align: center;
}

.addActionButton {
  margin-top: 50px;
}

.editObjectiveButton {
  border-radius: 5px;
  padding: 2px;
  background-color: rgb(0, 110, 255);
  color: white;
  font-size: 15px;
  align-items: center;
  width: 150px;
  text-align: center;
}

#deleteButton {
  margin-right: 30px;
}

.positionPlusButton {
  display: flex;
  flex-direction: row;
}
