/* All the style that apply uniquely to the login form */ 

.signUpForm{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 85px;
  max-width: 600px;
  max-height: 850px;

  background-color: white;
  border-radius: 5px;
  padding: 5% 5% 4% 5%;
  box-shadow: 1px 1px 1px rgb(199, 199, 199);
}


.signUpLoginButtons {
  display: flex;
  justify-content: flex-end;
}

